<!-- start main content -->
<main class="main-container">

  <section id="popular-product" class="ecommerce">
    <div class="container">
      <!-- Shopping items content -->
      <div class="shopping-content">

        <!-- Block heading two -->
        <div class="block-heading-two">
          <h3><span>Popular Items</span></h3>
        </div>

        <div class="row">
          <div *ngFor="let item of flowers">
            <div class="col-md-3 col-sm-6">
              <!-- Shopping items -->
              <div class="shopping-item">
                <!-- Image -->
                <a href="" routerLink="/detail/{{ item.id }}"><img class="img-responsive" src={{item.img}}
                    alt="Img {{ item.id }}" /></a>
                <!-- Shopping item name / Heading -->
                <h4><a href="" routerLink="/detail/{{ item.id }}">{{ item.name }}</a><span class="color pull-right">{{ item.price }}$</span></h4>
                <div class="clearfix"></div>
                <!-- Shopping item hover block & link -->
                <div class="item-hover bg-color hidden-xs">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="shopping-pagination pull-right">
          <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
        <!-- Pagination end-->
      </div>
    </div>
  </section>


  <!-- Start Our Shop Items -->

  <div class="bt-block-home-parallax" style="background-image: url(assets/img/resource/parallax2.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="lookbook-product">
            <h2><a href="#" title="">Collection 2016 </a></h2>
            <ul class="simple-cat-style">
              <li><a href="#" title="">Dresses</a></li>
              <li><a href="#" title="">Coats & Jackets</a></li>
              <li><a href="#" title="">Jeans</a></li>
            </ul>
            <a href="#" title="">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.bt-block-home-parallax -->

  <!-- Start Our Clients -->

  <section id="Clients" class="light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="Last-items-shop col-md-3 col-sm-6">

          <!-- Block heading two -->
          <div class="block-heading-two block-heading-three">
            <h3><span>Special Offer</span></h3>
          </div>
          <!--<div class="Top-Title-SideBar">
						<h3>Special Offer</h3>
					</div>-->
          <div class="Last-post">
            <ul class="shop-res-items">
              <li>
                <a href="#"><img src="assets/img/small/50.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$28.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/51.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$40.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/52.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$150.00</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="Last-items-shop col-md-3 col-sm-6">
          <!-- Block heading two -->
          <div class="block-heading-two block-heading-three">
            <h3><span>Best Sellers</span></h3>
          </div>
          <!--<div class="Top-Title-SideBar">
						<h3>Best Sellers</h3>
					</div>-->
          <div class="Last-post">
            <ul class="shop-res-items">
              <li>
                <a href="#"><img src="assets/img/small/53.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$28.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/54.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$40.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/55.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$150.00</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="Last-items-shop col-md-3 col-sm-6">
          <!-- Block heading two -->
          <div class="block-heading-two block-heading-three">
            <h3><span>Featured</span></h3>
          </div>
          <!--<div class="Top-Title-SideBar">
						<h3>Featured</h3>
					</div>-->
          <div class="Last-post">
            <ul class="shop-res-items">
              <li>
                <a href="#"><img src="assets/img/small/56.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$28.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/57.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$40.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/55.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$150.00</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="Last-items-shop col-md-3 col-sm-6">
          <!-- Block heading two -->
          <div class="block-heading-two block-heading-three">
            <h3><span>Sales</span></h3>
          </div>
          <!--<div class="Top-Title-SideBar">
						<h3>Sales</h3>
					</div>-->
          <div class="Last-post">
            <ul class="shop-res-items">
              <li>
                <a href="#"><img src="assets/img/small/55.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$28.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/58.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$40.00</span>
              </li>
              <li>
                <a href="#"><img src="assets/img/small/50.jpg" alt=""></a>
                <h6><a href="#">Stockholm Chair high Mosta gruancy</a></h6>
                <span class="sale-date">$150.00</span>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- End Our Clients  -->

</main>
<!-- end main content -->
